@import "tailwindcss";

@font-face {
  font-family: "Apercu Pro";
  src: url("/font/familyapercuPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000000;
  color: #fff;
  font-family: "Apercu Pro", sans-serif;
}

.shadow-effect {
  position: relative;
}

.shadow-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  width: 64;
  height: 100%;
  background-image: linear-gradient(270deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: -1;
}
.shadow-effect::after {
  content: "";
  position: absolute;
  top: 0;
  right: -60px;
  width: 64;
  height: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: -1;
}